HASH_SALT=vrysh
HASH_LENGTH=5
COOKIE_SECRET=devsecret
DOMAIN=localhost:3000

POSTGRES_DB=veryshort
POSTGRES_USER=veryshort
POSTGRES_PASSWORD=devpassword

REMIX_TOKEN=9fc09e134a3924d03b605880572f78ea881d9c33